CSV Input Parser - Parses data from .dat file, and writes the data into an .xml file

In [188]:
import csv, json
import pandas as pd
import numpy as np

In [189]:
#we can convert to dataframe to store our data, transpose, and now we have each column as a row

#filename
dat_file = "radix2_dim1_double_n1_c2c_inplace.dat"

data = pd.read_csv(dat_file, sep = '\s+', header = 1, usecols = np.arange(7), index_col = None)
data
#was able to put the data into a df via this method, however it cuts off the remaining cols after '...'

    #  dimension  xlength  nbatch   nsample   samples       ...
0   1       2048        1      10  0.086220  0.000047  0.000081
1   1       4096        1      10  0.014044  0.000051  0.000051
2   1       8192        1      10  0.013626  0.000105  0.000063
3   1      16384        1      10  0.016526  0.000065  0.000060
4   1      32768        1      10  0.014890  0.000061  0.000064
5   1      65536        1      10  0.116552  0.000086  0.000070
6   1     131072        1      10  0.113963  0.000080  0.000073
7   1     262144        1      10  0.101035  0.000115  0.000118
8   1     524288        1      10  0.104808  0.000202  0.000197
9   1    1048576        1      10  0.101987  0.000599  0.000592
10  1    2097152        1      10  0.102437  0.001052  0.001033
11  1    4194304        1      10  0.101869  0.002088  0.002099
12  1    8388608        1      10  0.113698  0.009506  0.009428
13  1   16777216        1      10  0.122404  0.028724  0.028456
14  1   33554432        1      10  0.138870  0.062596  0.062238
15  1   67108864        1      10  0.167525  0.138596  0.129716
16  1  134217728        1      10  0.364986  0.269206  0.268759
17  1  268435456        1      10  0.631421  0.545075  0.544076
18  1  536870912        1      10  0.682541  0.643465  0.636697

In [191]:
#https://subscription.packtpub.com/book/big_data_and_business_intelligence/9781783551668/1/ch01lvl1sec13/reading-and-writing-xml-files-with-python

def xml_encode(row):
    # we output a record
    xmlItem = ['  <data>']

    # or each field in the row we create a XML markup in a <field name=...>...</field> format
    for field in row.index:
        xmlItem.append('    <var var_name="{0}">{1}</var>'.format(field, row[field]))
   
    # this marks the end of the record
    xmlItem.append('  </data>')

    # return a string back to the calling method
    return '\n'.join(xmlItem)

In [192]:
def write_xml(xmlFileName, data):
    with open(xmlFileName, 'w') as xmlFile:

        # write the headers
        xmlFile.write('<?xml version="1.0" encoding="UTF-8"?>\n')
        xmlFile.write('<data>\n')

        # write the data
        xmlFile.write('\n'.join(data.apply(xml_encode, axis=1)))

        # write the footer
        xmlFile.write('\n</data>')

In [193]:
# save file as the same name but in xml 
filename = dat_file[:-3] + "xml"

# writes our data into the filename 
write_xml(filename, data)